#errorDialogHeader {
    background-color: red;
    text-align: center;
}
#dialogHeader {
    background-color: green;
    text-align: center;
}
#dialogContent {
    background-color: #fafbfc;
    font-size: 20px;
    padding: 40px;
}
#dialogContentText {
    display: flex;
    flex-direction: column;
}
#dialogContentText > * {
    margin: 10px 0px;
    padding: 15px;
}
#dialogActions {
    background-color: #e6e7e8;
}