body {
    background: #161616;
    color: #fff;
    height: 100%;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, footer, .navbar-brand, .table, .table th,
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small { font-family: 'Oswald', Open Sans, Arial; color: #fff; }

/*.table td {
    font-family: 'Open Sans';
}*/

h1 span {display: block;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300; /* Default bootstrap font-weight is very thick */
}
.h1, h1 {
  font-weight: 500;
}

p {font-weight: 300;}

footer, .navbar-brand {padding: 25px 15px; text-transform: uppercase; letter-spacing: 1px; font-size: 14px; color: #999;}

.container {min-width: 800px;}
.container-fluid {background: #333333; padding: 30px 0 20px 0;}

.page-bounds {margin-top: 75px;}

.full-height {height: 100%}

/* MAKE 2ND CONTAINER (AFTER NAV) HAVE PADDING TO ACCOUNT FOR THE FIXED NAV */
/* #Message, #Features, #ResultsExplorer */ .container:nth-child(2) {padding-top: 90px;}

/* ENTRY INIT TEXT & BUTTONS */
#MainMenu h1 {font-size: 60px; line-height: 62px; margin-bottom: 40px;}
#MainMenu h1 span {color: #1c72ad}
#MainMenu p {margin-bottom: 30px; font-size: 18px; line-height: 22px; font-weight: 300;}

/* ALGORITHM CONFIG */
#AlgorithmConfig button { /* Change font-family of buttons */
    font-family: Helvetica;
    padding: 5px 15px;
}
#AlgorithmConfig div.col-md-2 {
  color: #bbb;
}

/* LOADED CORPUS */
#CorpusBrowserPatientsTable {padding-right: 0;}
#CorpusBrowserPatientNoteTable { margin: 0px; padding-left: 0px;}
#CorpusBrowserNoteText {
  background: #383939; /* border: 1px solid rgba(255,255,255,.5); */
  height: 500px;
  /*overflow-y: scroll;*/ /* Made Note component handle overflow behavior since that is the component that displays the text */
  /*width: 100%; */ /* Was messing up horizontal width of text area */
  /*margin-bottom: 50px;*/
}
#CorpusBrowserNoteText h6, #PatientModelNoteText h6 {text-transform: uppercase; font-size: 13px; letter-spacing: .5px; text-align: right; color: #1c72ad /* blue */}
#CorpusBrowserNoteText h1, #PatientModelNoteText h1 {color: gold}
#CorpusBrowserNoteMarkupSelector .btn.btn-default {margin-right: 1px;}
#CorpusBrowserNoteMarkupSelector > div > a {border-color: #2d2d2d;}
.card-header h5.mb-0 a {text-transform: uppercase; color: #fff!important;}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
     letter-spacing: .5px;
     text-transform: uppercase
}
.card, .ag-header-cell, .ag-fresh .ag-header {
    background: #2e2f2f; /* old browsers */
    background: -moz-linear-gradient(top, #4f4f4f 3%, #434444 4%, #2e2f2f 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4f4f4f), color-stop(4%,#434444), color-stop(100%,#2e2f2f)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#2e2f2f',GradientType=0 ); /* ie */
}
.card {margin-bottom: 1px;}
.card:hover {background: #626363; /* old browsers */
    background: -moz-linear-gradient(top, #626363 3%, #585959 4%, #3f4040 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#626363), color-stop(4%,#585959), color-stop(100%,#3f4040)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626363', endColorstr='#3f4040',GradientType=0 ); /* ie */}
.card:hover h5 a {text-decoration: none!important}
.card-block {padding: 15px; background: black;}
.card-block ul {list-style: none; margin: 0; padding: 0;}
.card-block ul li {}

.ag-header-cell-text {
  color: #fff;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .5px;
  text-shadow: 1px 1px #1f272b;
}
/*
.ag-row.ag-row-even {background-color: #fff!important;}
.ag-row.ag-row-odd {background-color: #d7d7d7}
*/
/* .ag-row.ag-row-selected {background-color: gold!important; color: #333!important;} */
.ag-root.ag-font-style.ag-scrolls {border: none; }

/* ag from brett */
.ag-fresh .ag-body {
    background-color: #525252; /*black;*/
    color: #f3f3f3;
    font-size: 14px;
}

.ag-fresh .ag-row-even {
    background-color: #525252; /*black;*/
    color: #f3f3f3;
}

.ag-fresh .ag-row-odd {
    background-color: #383939; /*#666;*/
    color: #f3f3f3;
}

.ag-fresh .ag-row-selected {
	background-color: gold;
	color: #333;
	}
.ag-fresh .ag-ltr .ag-column-select-column {
  margin-left: 0px;
}
.ag-fresh .ag-rtl .ag-column-select-column {
  margin-right: 0px;
}

.ag-cell.ag-cell-value.ag-cell-focus.ag-cell-inline-editing {
    color: #000000;
}

.note-pad {
    padding-left: 15px;
    padding-right: 15px;
}

/* Edits from CoVar */
.note {
    border: 2px solid #383839;
    background: #383939;
    color: #F3F3F3;
}

.scroll-pane {
    height: 100%;
    overflow: auto;
}

/* EXPLORER */
#ResultsExplorer h5 {font-size: 16px;}
#FilteredRecords {
  /*padding-top: 20px;*/
  padding-bottom: 30px;
}
#PerformanceExplorer .btn {margin-left: 10px; margin-top: 0;}
#DCChartData h4 {
  color: #1c72ad;
  border-bottom: 1px solid rgba(255,255,255,.25);
  margin-bottom: 5px; padding-bottom: 8px; font-weight: 500;
  line-height: 1.5; /* Prevent re-alignment of divs when Reset button is displayed in Explore */
}
#DCChartData h4 span a {margin-left: 10px; font-family: 'Oswald', Helvetica, Arial;}
/*#DCChartData h4 span a {color: #F3F3F3; font-size: 12px; padding-left: 10px; text-decoration: underline;}*/
/* kwall from AA */

/* badge */
.badge {background: gold; padding: 5px 10px; font-weight: 400; color: #222; letter-spacing: .5px; margin-left: 4px;}
/* buttons */
.btn {font-family: 'Oswald', Open Sans, Arial; font-weight: 300; letter-spacing: 1px;}
.btn.disabled, .btn[disabled] {
  opacity: 0.4; /* Reduce default Bootstrap opacity for disabled buttons */
}
.zoom {border: 0!important; background: transparent; font-size: 30px; color: #777; padding-top: 0; padding-bottom: 0;}
.zoom:hover {background: transparent!important; color: #26a0f4;}
.fa-check {color: green;}
.fa-close {color: #f41e05; /* red */}
.fa-exclamation-triangle {color: red}
/* {padding-top: 5px; } */
nav .btn {margin: 25px 0 0 5px;}

/* Dark Button CSS */
#highlight.btn.btn-default {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#888888), color-stop(4%,#6f6f6f), color-stop(100%,#404040));
}
.btn.btn-default {
	letter-spacing: 0!important;
	padding: 5px 10px;
    outline: 0;
    color: #dedede;
    text-shadow: 1px 1px #1f272b;
    font-weight: 300;
    border: 1px solid #000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #2e2f2f; /* old browsers */
    background: -moz-linear-gradient(top, #4f4f4f 3%, #434444 4%, #2e2f2f 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#4f4f4f), color-stop(4%,#434444), color-stop(100%,#2e2f2f)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#2e2f2f',GradientType=0 ); /* ie */
}
.btn.btn-default:hover {
    color: #fff;
    background: #626363; /* old browsers */
    background: -moz-linear-gradient(top, #626363 3%, #585959 4%, #3f4040 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#626363), color-stop(4%,#585959), color-stop(100%,#3f4040)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#626363', endColorstr='#3f4040',GradientType=0 ); /* ie */
}
.btn.btn-default:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    color: #fff;
    background: #2c2d2d; /* old browsers */
    background: -moz-linear-gradient(top, #2c2d2d 3%, #373737 51%, #303030 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#2c2d2d), color-stop(51%,#373737), color-stop(100%,#303030)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2d2d', endColorstr='#303030',GradientType=0 ); /* ie */
    -moz-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* Safari, Chrome */
    box-shadow: 1px 1px 1px rgba(255,255,255,0.1); /* CSS3 */
}
.btn.btn-default.btn-block span {display: block; margin-bottom: 5px; text-transform: uppercase;}
.btn.btn-default.btn-block { padding: 20px 25px; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;}

.btn-group-justified .btn-default {border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; padding: 8px 10px;}

.btn img {float: left; margin: 4px 4px 0 0;}

/* overwrite bootstrap */
.fixed-top {  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
footer {margin-bottom: 20px;}
.container.main {margin-bottom: 50px; padding-top: 380px; }
.navbar {margin-bottom: 0; height: 70px; font-family: 'Oswald', Helvetica, sans-serif; font-weight: 300; text-transform: uppercase; letter-spacing: 1px; font-size:16px}
.navbar-inverse { border-color: #222; background: #222; }
.navbar-inverse .navbar-nav > li > a { color: #fff; }
.navbar-inverse .navbar-nav > li > a:hover {color: #1c72ad }
.navbar-brand { color: rgba(255,255,255,.5)!important; font-size: 18px; text-transform: none!important; letter-spacing: 0; }
/* .navbar-brand > img { display: inline;   } */
.navbar-right {margin-right: 20px; margin-top: 10px;}
li.dropdown .fa {  color: #a3c9f7; font-size: 150%; vertical-align: bottom; margin-left: 5px;}


.panel.panel-default {border-color: #444;
background: #333333;
background: -moz-linear-gradient(top, #333333 0%, #1c1c1c 53%, #141414 100%);
background: -webkit-linear-gradient(top, #333333 0%,#1c1c1c 53%,#141414 100%);
background: linear-gradient(to bottom, #333333 0%,#1c1c1c 53%,#141414 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#141414',GradientType=0 );
}

/* MODAL */
.modal-header, .modal-footer { border: 0;}
.modal-content {
  position: relative;
  background-color: #000;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 6px;
}
.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8;
}
/* Outline for buttons above PatientModelNote Component in Modal */
#PatientModelNoteMarkupSelector > div > a {
  border: 1px solid #2d2d2d;
}
#PatientModelNoteText {
  background: #383939; /* border: 1px solid rgba(255,255,255,.5); */
  border-width: "1px";
  border-style: "solid";
  border-color: #2d2d2d;
  /*overflow-y: scroll;*/ /* Made Note component handle overflow behavior since that is the component that displays the text */
  /*width: 100%; */ /* Was messing up horizontal width of text area */
  /*margin-bottom: 50px;*/
}
/* Modal Height adjustment to make everything scrollable and fit on screen */
div.fade.in.modal > div {
  height: 100%;
}
div.modal-content {
  height: 95%;
  background-color: #1d1d1d;
}
div.modal-body {
  height: calc(100% - 55px);
}


.close:focus, .close:hover {
  color: #ccc;
}
.close {
  color: #fff;
}

/* tables beside charts */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 12px;
  line-height: auto;
  vertical-align: middle;
  border-top: none;
}
.table > thead > tr > th {
  vertical-align: middle;
  border: none;
}


table th { text-transform: uppercase; color: #26a0f4; font-size: 14px; text-align: center; border-bottom: 1px solid #d2d2d2;}
table td {text-align: center; color: #fff; letter-spacing: .5px; font-size: 13px; font-weight: 300;}
/* table td:first-child {border-right: 1px solid #d2d2d2; width: 50%;} */
table.table > tbody > td {border-top: 0!important;}
.table-bordered th, .table-bordered td {
    border: 1px solid rgba(255,255,255,.15)!important;
  }
.table-bordered th, .table-bordered {border-top: none!important; border-left: none!important; border-right: none!important;}
.table-hover > tbody > tr:hover { background-color: #000; }
.table-bordered th.info {background: gold!important; color: #333; font-weight: 400;}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {outline: none !important;}

.inline {display: inline;}
.nopad {padding: 0;}
.pad-top {padding-top: 30px;}
.pad-top-sm {padding-top: 15px;}
.pad-bottom {padding-bottom: 30px;}
.pad-bottom-sm {padding-bottom: 15px;}
.pad-bottom-xs {padding-bottom: 5px;}
.dim {opacity: .5;}
.yellow {background: yellow;} /* just for testing, not needed for live version */


/* KWALL NEW */
td small em {color: #999;}
sub, sup {font-size: 13px;}
sup sup {font-size: 11px;}

/* kenny stuff */
.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
#FilteredRecords tbody { /* Gray background for table */
    background-color: #222;
}


.large-font {
  font-size: 28px;
  font-weight: 400;
  font-family: 'Oswald';
  padding-bottom: 10px;
  padding-top: 5px;
}

.navbar-center-collapse {
  text-align:center;
  }
.navbar-center-nav {
    display:inline-block;
    float:none;
  }
.jumbotron {
    padding-top: 0px;
    background: white;
}

.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.c-menu {
    margin-left: 5px;
    margin-right: 5px;
    min-height: 10%;
    /*background: rgb(95, 186, 125);*/
}
.top-padding {
    padding-top: 100px;
}
.bottom-padding {
    padding-bottom: 100px;
}

.c-disabled {
    /*background: lightGrey;*/
}

.row-flex{
  display:flex;
}


.hidden { display: none; }

.view {margin-left: 50px; margin-right: 50px; margin-top: 50px;}

.navbar {border-radius: 0px}


.red-text {
    color: red;
}

.green-text {
    color: green;
}

.gray-text {
    color: lightGrey;
}

.disabled-a a a:hover a:link a:visited a:active {
    color: lightGrey;
}

.dropdown-relative {
    position: relative;
}

/* Accordion styles. */





.align-right {
    text-align: right;
}

/*
.algorithmConfigBoxTop {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  color: #373a3c;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 10px;
  min-height: 125px;
}

.algorithmConfigBoxBottom {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #f5f5f5;
  color: #373a3c;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 10px;
  min-height: 125px;
}
*/

.arrowContainer {
  font-size: 36pt;
  text-align: right;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;

}

.message-window{
    background-color: #383839;
}

/*
.progressionButtonContainer{

}
*/
/*
.ag-fresh .ag-row-selected {
  background-color: #b0e0e6;
}
*/

.react-context-menu {
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    opacity: 1;
}

.react-context-menu-item {
    width: 125px;
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
	  cursor: pointer;
}

.react-context-menu-item:hover{
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}
.react-context-menu-item a{
    color: inherit;
}

.react-context-menu-item .submenu {
	padding: 0;
}

.submenu > .react-context-menu-link {
}

.submenu > .react-context-menu-link:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.react-grid-Cell{background-color: inherit;}


/* For D3 Visualizations in Results Area */

/* DC css. https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.1/dc.min.css*/
.dc-chart .box text,.dc-chart g.axis text{-webkit-touch-callout:none;-khtml-user-select:none;pointer-events:none}.dc-chart path.dc-symbol,.dc-legend g.dc-legend-item.fadeout{fill-opacity:.5;stroke-opacity:.5}div.dc-chart{float:left}.dc-chart rect.bar{stroke:none;cursor:pointer}.dc-chart rect.bar:hover{fill-opacity:.5}.dc-chart rect.deselected{stroke:none;fill:#ccc}.dc-chart .pie-slice{fill:#fff;font-size:12px;cursor:pointer}.dc-chart .pie-slice.external{fill:#000}.dc-chart .pie-slice :hover,.dc-chart .pie-slice.highlight{fill-opacity:.8}.dc-chart .pie-path{fill:none;stroke-width:2px;stroke:#000;opacity:.4}.dc-chart .selected circle,.dc-chart .selected path{stroke-width:3;stroke:#ccc;fill-opacity:1}.dc-chart .deselected circle,.dc-chart .deselected path{stroke:none;fill-opacity:.5;fill:#ccc}.dc-chart .axis line,.dc-chart .axis path{fill:none;stroke:#000;shape-rendering:crispEdges}.dc-chart .axis text{font:10px sans-serif}.dc-chart .axis .grid-line,.dc-chart .axis .grid-line line,.dc-chart .grid-line,.dc-chart .grid-line line{fill:none;stroke:#ccc;opacity:.5;shape-rendering:crispEdges}.dc-chart .brush rect.background{z-index:-999}.dc-chart .brush rect.extent{fill:#4682b4;fill-opacity:.125}.dc-chart .brush .resize path{fill:#eee;stroke:#666}.dc-chart path.line{fill:none;stroke-width:1.5px}.dc-chart path.area{fill-opacity:.3;stroke:none}.dc-chart path.highlight{stroke-width:3;fill-opacity:1;stroke-opacity:1}.dc-chart g.state{cursor:pointer}.dc-chart g.state :hover{fill-opacity:.8}.dc-chart g.state path{stroke:#fff}.dc-chart g.deselected path{fill:grey}.dc-chart g.deselected text{display:none}.dc-chart g.row rect{fill-opacity:.8;cursor:pointer}.dc-chart g.row rect:hover{fill-opacity:.6}.dc-chart g.row text{fill:#fff;font-size:12px;cursor:pointer}.dc-chart g.dc-tooltip path{fill:none;stroke:grey;stroke-opacity:.8}.dc-chart g.county path{stroke:#fff;fill:none}.dc-chart g.debug rect{fill:#00f;fill-opacity:.2}.dc-chart g.axis text{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.dc-chart .node{font-size:.7em;cursor:pointer}.dc-chart .node :hover{fill-opacity:.8}.dc-chart .bubble{stroke:none;fill-opacity:.6}.dc-chart .highlight{fill-opacity:1;stroke-opacity:1}.dc-chart .fadeout{fill-opacity:.2;stroke-opacity:.2}.dc-chart .box text{font:10px sans-serif;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.dc-chart .box circle,.dc-chart .box line{fill:#fff}.dc-chart .box circle,.dc-chart .box line,.dc-chart .box rect{stroke:#000;stroke-width:1.5px}.dc-chart .box .center{stroke-dasharray:3,3}.dc-chart .box .outlier{fill:none;stroke:#ccc}.dc-chart .symbol,.dc-chart circle.dot{stroke:none}.dc-chart .box.deselected{opacity:.5}.dc-chart .box.deselected .box{fill:#ccc}.dc-chart .heatmap .box-group.deselected rect{stroke:none;fill-opacity:.5;fill:#ccc}.dc-chart .heatmap g.axis text{pointer-events:all;cursor:pointer}.dc-chart .empty-chart .pie-slice{cursor:default}.dc-chart .empty-chart .pie-slice path{fill:#fee;cursor:default}.dc-data-count{float:right;margin-top:15px;margin-right:15px}.dc-data-count .filter-count,.dc-data-count .total-count{color:#3182bd;font-weight:700}.dc-legend{font-size:11px}.dc-legend .dc-legend-item{cursor:pointer}.dc-hard .number-display{float:none}

/*Customized by Sudeep*/
/* Change axis colors for dark theme */
.dc-chart .axis path {
  stroke: #545454;
}
.dc-chart .axis line, .dc-chart .axis path {
  stroke: #545454;
}
.dc-chart .axis .grid-line,.dc-chart .axis .grid-line line,.dc-chart .grid-line,.dc-chart .grid-line line {
  stroke:#464646;
}
.dc-chart .axis text {
  fill: #777;
}
.dc-chart rect.deselected{fill:grey}


.dc-chart g.row text, .pie-slice.pie-label {
    fill: #fff;
    text-shadow: 0 0 0.4em #000;
    font-size: 0.85em;
    /*cursor: pointer;*/
    font-weight: bold;
    pointer-events: inherit;
}
/* Padding to account for absolute positioned top navbar */
#D3CrossFilterContainer {
  margin-top: 0px;
}
text.x-axis-label, .y-axis-label {
  fill: #777;
  font-size: 0.82em;
}
#paging {
  text-align: right;
}
/*.dc-table-group {
  display: none;
}*/

#dc-table-graph th {
    font-family: 'Oswald';
    font-weight: 400;
}
#dc-table-graph th, tr.dc-table-row {
  cursor: pointer;
}
#dc-table-graph th span { /*Glyphicon style*/
  float: right;
  font-size: 1em;
  color: #0080bf;
  /*line-height: 1.42857143;*/
  display: inline-block;
}

#tooltip {
  position:absolute;
  height:auto;
  visibility:hidden;
  border: 2px solid #3d3d3d;
  background: rgba(61, 61, 61, 0.94);
  color: #F0F0F0;
  border-radius: 3px;
  padding: 0.4em;
  z-index: 9999;
  /*-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);*/
}
#tooltip:after, #tooltip:before {
	top: 100%;
	left: 50%;
	/*border: solid transparent;*/
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 12px solid #3d3d3d;
  margin-left: -5px;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#tooltip span{
  font-size: 0.8em;
  font-weight: bold;
  color: #fff;
}

/* KWALL OVERWRITE LEAVE STUFF HERE AT THE BOTTOM */
.filter-count, .total-count {font-weight: 400!important}
.dc-chart {padding-bottom: 30px; font-weight: 300;}

@media (max-width: 991px) {
  #CorpusBrowserPatientsTable {padding-right: 15px;}
  #CorpusBrowserPatientNoteTable { padding-left: 15px;}
  .container {min-width: auto!important;}
}
