* {
    font-family: 'Roboto', sans-serif;
}
#mainContainer {
    display: flex;
    height: 100vh;
    min-width: 1400px;
    background-color: #F0F4F5;
}
#content {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.hide {
    display: none;
}
.MuiPaper-rounded {
    border-radius: 15px;
}
.continueButton {
    color: #183042;
    background-color: #4E92C2;
}
.continueButton:hover {
    background-color: #247ebf;
}
.continueButton:disabled {
    color: #bcc8d1;
    background-color: #80b2d6;
}
#initialLoading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
